@{
    ControleFinanc.Models.Usuarios us = ViewBag.Usuarios;
    var NomeGrupo = ViewBag.NomeGrupo;
    var Usuarios = ViewBag.Usuarios;
    string status;
    if (us.Status == 1)
    {
        status = "Ativo";
    }
    else
    {
        status = "Inativo ";
    }

    ViewBag.Title = "Editar";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>
<body>
    <br>
    <div class="container">
        <!--FORMULÁRIO-->
        <form name="usuarios" method="POST" action="/Usuarios/Editar/@us.Id" onsubmit="return ValidarCamposUsuarios()">
            <div class="col-md-6 col-md-offset-3 formulario1">
                <br>
                <div class="col-md-12 text-center bg-primary">
                    <div class="col-md-2">
                        <h2><span class="glyphicon glyphicon-user"></span></h2>
                    </div>
                    <div class="col-md-10">
                        <h2>Edição de Usuários</h2>
                    </div>
                </div>

                <!--ALERTA-->
                @if (TempData["Sucesso"] != null)
                {
                    <br />
                    <br />
                    <div id="alerta" class="alert alert-success alert-dismissible col-md-12" role="alert">
                        <strong>MENSAGEM: </strong> @TempData["Sucesso"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <script type="text/javascript">
                        setTimeout(function () {
                            $('#alerta').alert('close');
                        }, 3000);
                    </script>
                }
                <!--Retorna o erro-->
                @if (TempData["Erro"] != null)
                {
                    <script type="text/javascript">
                        alert("@TempData["Erro"]");
                        window.history.back();
                    </script>
                }

                <div class="col-md-12" hidden>
                    <div class="form-group">
                        <input type="text" class="form-control" id="Id" name="Id" value="@us.Id">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="Nome">
                            Nome
                        </label>
                        <input type="text" class="form-control" id="Nome" name="Nome" value="@us.Nome" placeholder="Informe o nome">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="email">
                            E-mail
                        </label>
                        <input type="email" class="form-control" id="email" name="email" value="@us.Email" placeholder="Informe o email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Telefone1">
                            Telefone 1
                        </label>
                        <input type="text" class="form-control telefone" id="Telefone1" value="@us.Telefone_1" name="Telefone1"
                               placeholder="Informe o Telefone">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Telefone2">
                            Telefone 2
                        </label>
                        <input type="text" class="form-control telefone" id="Telefone2" name="Telefone2" value="@us.Telefone_2"
                               placeholder="Informe o Telefone">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Telefone2">
                            Login
                        </label>
                        <input type="text" class="form-control" id="Login" name="Login" value="@us.Usuario"
                               placeholder="Informe o Login">
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="Grupo">
                        Grupo de Acesso
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-11" hidden>
                        <input type="text" class="form-control col-md-2" id="idGrupo" name="idGrupo" value="@us.Grupo.Id">
                    </div>
                    <div class="col-md-11">
                        <input type="text" class="form-control col-md-2" id="Grupo" name="Grupo" value="@NomeGrupo"
                               placeholder="Selecione o Grupo" readonly>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-success" data-toggle="modal"
                                data-target="#ModalSelecaoGrupo">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div class="col-md-11" hidden>
                        <input type="text" class="form-control col-md-2" id="idStatus" name="idStatus" value="@us.Status">
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="Grupo">
                        Status
                    </label>
                </div>

                <div class="col-md-6">
                    <select class="form-control" id="Status" name="Status">
                        @if (@status == "Ativo")
                        {
                            <option value="1">Ativo</option>
                            <option value="0">Inativo</option>
                        }
                        else
                        {
                            <option value="0">Inativo</option>
                            <option value="1">Ativo</option>
                        }
                    </select>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <br>
                        <button type="submit" class="btn btn-primary col-md-2"><span class="glyphicon glyphicon-ok"></span> Salvar</button>
                        <br />
                        <br />
                    </div>
                </div>
                <!--ALERTAS-->
                <div id="Alerta" class="alert alert-danger form-group col-md-12" role="alert" hidden>
                    <strong> Campo <span id="NomeCampo"></span></strong> é necessário!
                </div>
                <br>
            </div>
        </form>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="ModalSelecaoGrupo" tabindex="-1" role="dialog" aria-labelledby="ModalSelecaoGrupoTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="ModalSelecaoGrupoTitle">Selecione um grupo</h3>
                    <button type="button" class="close" onclick="openForm()" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <table class="table" id="tableGrupos">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">ID</th>
                                <th scope="col">NOME</th>
                                <th scope="col">STATUS</th>

                            </tr>
                        </thead>
                        <!--PERCORRER E MONTAR TABELA-->
                        <tbody>
                            @{
                                int x = 1;
                                List<ControleFinanc.Models.Grupo> gps = ViewBag.Grupos;
                                foreach (ControleFinanc.Models.Grupo gp in gps)
                                {
                                    <tr onclick="AddGrupo(this, event)" id="@gp.Id">
                                        <td>
                                            <button class="btn btn-info">
                                                <span class="glyphicon glyphicon-plus-sign"></span>
                                            </button>
                                        </td>
                                        <th scope="row">@gp.Id</th>
                                        <td>@gp.Nome</td>
                                        <!--STATUS POR ESCRITO-->
                                        @if (gp.Status == 1)
                                        {
                                            <td>ATIVO</td>
                                        }
                                        else
                                        {
                                            <td>INATIVO</td>
                                        }

                                    </tr>
                                    x++;
                                }
                            }



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!---------------------------------------------------------------------------------------------------------->

    @section Scripts{


        <script>
            function AddGrupo(x) {
                console.log(event.target.nodeName);
                if (event.target.nodeName == "SPAN" || event.target.nodeName == "BUTTON") {
                    var table = document.getElementById("tableGrupos");
                    var r = table.rows[x.rowIndex];
                    adicionarGrupo(r.rowIndex)
                }
            }
        </script>

        <script src="~/Scripts/acoes.js"></script>

        <script>
            $(document).ready(function () {
                $('.telefone').mask('(00) 00000-0000');
            });
        </script>

    }
    @Html.ActionLink("Voltar página anterior", "Index")
</body>
</html>