@{ List<ControleFinanc.Models.Vendas> md = ViewBag.Vendas;}

<div class="container">
    <div class="row">
        <!--Alterar id em partial novos-->
        <div id="partialPagamentos">
            <table class="table table-condensed table-hover">
                <tr>
                    <td><strong>ID</strong></td>
                    <td><strong>DATA</strong></td>
                    <td><strong>NOME</strong></td>
                    <td><strong>VALOR</strong></td>
                    <td><strong>DETALHE</strong></td>
                    <td><img src="~/Content/Img/edit_pie_chart_report_30px.png" sizes="30px" /></td>
                    <td><img src="~/Content/Img/delete_30px.png" sizes="30px" /></td>
                </tr>
                @{
                    decimal valortotal=0;
                    int total = 0;
                    foreach (var vd in md)
                    {

                        <tr>
                            <td>@vd.Id</td>
                            <td>@DateTime.Parse(vd.data_Venda.ToString()).ToString("dd/MM/yy")</td>
                            <td>@vd.idCliente.Nome</td>
                            <td>@vd.valor_pago</td>
                            <td>@vd.detalhe_pagamento</td>
                            <td><a href="/Pagamentos/Editar/@vd.Id"><strong>Editar</strong></a></td>
                            <td><a href="/Pagamentos/Excluir/@vd.Id" class="text-danger"><strong>Excluir</strong></a></td>
                        </tr>
                        valortotal = valortotal + vd.valor_pago;
                        total++;
                    }

            <tr class="bg-warning">
                <td><strong>Totais: @total</strong></td>
                <td></td>
                <td></td>
                <td><strong>@valortotal</strong></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                }
            </table>
        </div>
    </div>
</div>
